body {
  background-color: #ECEFF1;
}

.material-icons.orange600 { color: #FB8C00; }

.auth {
  margin-top: 50px;
  text-align: center;
}

.auth .logo {
  font-size: 50px;
  font-weight: 100;

}

a.logo{
  color: #5b5b5b;
  cursor: pointer;
}

.auth .input-field {
  text-align: left;
}

.auth .btn{
  width: 90%;
}

.auth .footer{
  border-top: 1px solid;
}

.auth .card{
  width : 400px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .auth .card {
    width: 100%;
  }

  .logo {
    font-size: 60px;
  }
}

.auth .header {
    font-size: 18px;
}

.auth .row {
  margin-bottom: 0px;
}

.auth .username {
  margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}
